.DS_Store
node_modules/
npm-debug.log
manifest.appcache
pub/
dist/
build/
.idea/
package-lock.json
yarn.lock
yarn-error.log
stats.json
webpack.cookie.js
webpack.config.local.js
webpack.config.base.local.js
webpack.mini.js
apk/